body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #a94442;
}

.menu {
    font-size: 2em;
    text-align: center;
}

.menu input, .menu select {
    display: inline;
    padding: 0;
    border: 0;
    color: #444;
    font-weight: bold;
    background: #ddd;
    width: 1.2em;
    font-size: 1em;
}

.counter {
    margin-top: 20%;
    color: #521f1e;
}

.counter h1, .counter h2, small {
    font-weight: bold;
}

.counter h1 {
    font-size: 6em;
}

@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }

}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.14, 2.71, 0.58, 1);
}